.auth-button {
    min-width: 100%;
    margin-top: 1rem;
    background-color: var(--netflix-red);
}

.form {
    width: 100%;
    min-width: 314px;
    padding-bottom: 2rem;
    .email-box {
        margin-top: 2rem;
        position: relative;
        label {
            padding-left: 10px;
            font-weight: 500;
        }
        .email-input-box {
            background-color: var(--netflix-gray);
            z-index: 3;
            width: 100%;
            margin-top: 10px;
            display: flex;
            align-items: center;
            padding: 16px 20px 5px;
            border-radius: var(--radius-sm);
            position: relative;
            .input-icon {
                position: absolute;
                top: 0.5rem;
                right: 1rem;
                opacity: 0.9;
                cursor: pointer;
            }
        }
    }
    .password-box {
        width: 100%;
        margin-top: 2rem;
        position: relative;
        label {
            padding-left: 10px;
            font-weight: 500;
        }
        .password-input-box {
            background-color: var(--netflix-gray);
            z-index: 3;
            width: 100%;
            margin-top: 10px;
            display: flex;
            align-items: center;
            padding: 16px 20px 5px;
            border-radius: var(--radius-sm);
            position: relative;
            .input-icon {
                position: absolute;
                top: 0.5rem;
                right: 1rem;
                opacity: 0.7;
                cursor: pointer;
            }
        }
    }
    .reg-input {
        width: 100%;
        letter-spacing: 4px;
        background-color: transparent;
        color: var(--color-lt);
        cursor: pointer;
    }
    .input-label {
        position: absolute;
        top: 10px;
        left: 0;
        color: var(--netflix-gray);
        cursor: pointer;
        transition: all ease 200ms;
        pointer-events: none;
        z-index: 4;
    }
    .input-label-up {
        position: absolute;
        top: 0;
        left: 0;
        color: var(--netflix-gray);
        font-size: 0.8em;
        transition: all ease 200ms;
        z-index: 4;
    }
}
