.navbar{
    width: 100%;
    padding: 1rem;
    background-color: #189FEC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        flex: 1;
        justify-content: flex-start;
    }
    .links_block{
        display: flex;
        align-items: center;
        gap: 1rem;
        .link{
            padding: 5px 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-decoration: none;
            color: var(--main-color);
        }
        .active{
            color: red;
        }
    }
}