// ===== global variables =====
:root{
    --bg-color: #111111;
    --netflix-red: #E50914;
    --netflix-gray: rgba(255, 255, 255, 0.2);
    --netflix-red: #E50914;
    --color-lt: #ffffff;
}
html, body{
    background-color: var(--bg-color);
    color: var(--color-lt);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
// ==== STYLES FROM PREV APP ====
$netflix-black: #111;
$netflix-red: #e50914;
$netflix-gray: rgba(255, 255, 255, 0.2);
$less-white: rgba(255, 255, 255, 0.7);
$black-glass: rgba(0, 0, 0, 0.25);
$shadow: rgba(0, 0, 0, 0.5);
$light: #fff;
$carrot: #f85904;
$text-blue: #5388cd;

$nav-black: #0c0c0c;

$bg-hover: rgba(0, 0, 0, 0.1);
$bg-active: rgba(0, 0, 0, 0.2);


$account: #F4F3F4;
// ===== light theme =====
$bg-light: #ffffff;
$text-dark: #212529;
$box-shadow-lt: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
$bg-active-light: rgba(0, 0, 0, 0.04);
// ===== dark theme =====
$bg-dark: #2e3137;
$text-light: #e8eaed;
$bg-block-dark: #3c4043;

// ===== sizes =====
// MyList vars if Poster size 290 px =====
$left-btn: 115px;
$top-btn: 63px;
// =============

$br-main: 4px;
$br-medium: 6px;
$header-hight: 60px;

$xs: 425px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

$button-max-size: 120px;
$button-min-size: 90px;
$button-big: 160px;
$max-mobile: 320px;

// === GLOBAL CLASSES ===
.g-link {
    color: $light;
    transition: transform 300ms linear;
    &:hover {
        font-weight: 700;
        transform: scale(1.1);
        cursor: pointer;
    }
}
.g-button {
    padding: 0.5rem 1rem;
    display: flex;
    max-width: 10rem;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    border-radius: $br-main;
    color: $light;
    position: relative;
    &:hover {
        cursor: pointer;
    }
}
