// === GLOBAL CLASSES ===
.g_link {
    color: var(--color-lt);
    transition: transform 300ms linear;
    &:hover {
        font-weight: 700;
        transform: scale(1.1);
        cursor: pointer;
    }
}
.g_button {
    padding: 0.5rem 1rem;
    display: flex;
    max-width: 10rem;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    border-radius: var(--radius-sm);
    color: var(--color-lt);
    position: relative;
    &:hover {
        cursor: pointer;
    }
}
