
.container{
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    // overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    position: relative;
    margin-top: 2rem;
    .bg_image{
        position: absolute;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.5);
        // z-index: -10;
    }
    
}
