.link {
    color: var(--color-lt);
    transition: transform 300ms linear;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
        text-decoration: underline;
    }
}

.register_page{
    background-color: var(--bg-color);
    color: var(--color-lt);
    opacity: 0.8;
    margin-top: 100px;
    max-width: 450px;
    position: absolute;
    margin-top: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 60px 40px 70px 40px;
    border-radius: var(--radius-sm);
    z-index: 3;
    .auth_header{
        font-weight: 600;
    }
    .question {
        margin-top: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .question_text {
            flex: 1;
        }
        .question_link {
            color: var(--color-lt);
        }
    }
    .captcha {
        height: 150px;
        margin-top: 1rem;
        line-height: 1.25;
        font-size: 0.8rem;
        .captcha_link {
            color: blue;
            margin-left: 10px;
        }
    }

}
